[submodule "test/Catch"]
	path = test/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "performance/benchmark"]
	path = performance/benchmark
	url = https://github.com/google/benchmark.git
